/* ---------------------------------GENERAL STYLES OF ELEMENTS--------------------------- */
:root {
  --font-rosario: "Rosario", sans-serif;
  --font-volkhov: "Volkhov", serif;
  --t-white: #fffcfc;
  --t-white2: #fffafa;
  --t-black: #000000;
  --color-brown: rgba(163, 83, 10, 0.7);
  --color-grey: #e5e5e5;
  --color-grey2: rgba(0, 0, 0, 0.5);
}

ul,
li,
a,
h2,
h3,
figure {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

input,
textarea {
  outline: none;
  border: none;
  resize: none;
}

section h2,
section h3,
article h2,
article h3 {
  visibility: hidden;
  height: 0;
  width: 0;
}

.screen,
.screen2,
.screen3 {
  min-height: 100vh;
  width: 100%;
}

/* ------------------Header----------------- */
.header {
  display: flex;
  justify-content: space-between;
  height: 10vh;
  width: 100%;

  color: var(--t-white);

  position: sticky;
  top: 0;
  z-index: 5;
}
.container {
  width: 100%;
  background-color: var(--t-black);
}

img.logo {
  width: 100%;
  height: 10vh;
}

.header > nav {
  width: 70%;
}

.head-list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;

  transition: transform 500ms linear;
}

.head-list.hidden {
  transform: translateY(-250px);
}

.head-list a {
  font-family: var(--font-rosario);
  font-size: 36px;
  font-weight: 700;
  font-style: italic;
  color: var(--t-white);
  padding: 5px;
  box-sizing: border-box;

  transition: all 200ms linear;
}

.head-list a:hover {
  color: var(--color-brown);
}

/* ----------------First screen-------------- */
.gallery {
  width: 100%;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 10vh;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 5vh;
  box-sizing: border-box;
  overflow: hidden;
}

.left {
  width: 23%;
  padding-right: 20px;
  box-sizing: border-box;

  animation: fromLeft 2s ease-out;
  transition: all 2s ease-out;
}

img.img-el {
  width: 100%;
}

.center-left,
.center-right {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 80vh;
  width: 25%;
  padding-left: 5px;
  padding-right: 5px;
  box-sizing: border-box;

  transition: all 1s ease-out;
}

.center-left {
  animation: toCenter1 1s ease-out;
}

.center-right {
  animation: toCenter2 1s ease-out;
}

.right {
  width: 23%;
  padding-left: 20px;
  box-sizing: border-box;

  animation: fromRight 2s ease-out;
  transition: all 2s ease-out;
}

/* ------------------Gallery Animation-------------- */
@keyframes toCenter1 {
  0% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes toCenter2 {
  0% {
    transform: translateX(+200%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes fromLeft {
  0% {
    transform: translateX(-150%);
  }
  50% {
    transform: translateX(-150%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes fromRight {
  0% {
    transform: translateX(+150%);
  }
  50% {
    transform: translateX(+150%);
  }
  100% {
    transform: translateX(0);
  }
}

/* ---------------------Second screen--------------- */
.screen2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.services-box {
  max-width: 50%;
  width: 50%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  padding-top: 10vh;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 6vh;
  box-sizing: border-box;

  animation: roundReverse 10s infinite;
  transition: all 5s linear;
  /* overflow: hidden; 
  прибрала бо обрізає при обертанні круглих картинок*/
}

.serv-element {
  width: 50%;
  height: 50%;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 5px;
  box-sizing: border-box;

  animation: round 10s infinite;
  transition: all 5s linear;
}

.serv-element__img {
  width: 80%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

img.img-serv {
  width: 100%;
}

.title {
  font-family: var(--font-rosario);
  font-weight: 700;
  font-style: italic;
  font-size: 30px;
  padding: 5px;
  box-sizing: border-box;
}

.serv-background {
  width: 47%;
  height: 100vh;
  display: flex;
  justify-content: center;
}

img.serv-photo {
  width: 100%;
}

/* --------------------Services Animation-------------- */
@keyframes round {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes roundReverse {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-90deg);
  }
  50% {
    transform: rotate(-180deg);
  }
  75% {
    transform: rotate(-270deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

/* ----------------------Third screen---------------- */
.screen3 {
  padding-top: 12vh;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 2vh;
  box-sizing: border-box;
}
.team-title {
  text-align: center;
  font-size: 96px;
  font-weight: 700;
  color: var(--t-black);
  font-family: var(--font-rosario);
  padding: 10px;
  box-sizing: border-box;
}
.team-box {
  width: 100%;
  height: 70vh;
  display: flex;
  justify-content: space-between;
  align-items: center;

  transition: all 400ms linear;
}

.team-container {
  width: 21%;
  position: relative;
  transition: all 400ms linear;
}

img.team__img {
  width: 100%;
}

.team-box:hover .team-container {
  filter: brightness(40%);
}

.team-box .team-container:hover {
  filter: none;
}

.name {
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  bottom: 0;
  z-index: 10;

  width: 100%;
  height: 155px;
  background-color: var(--color-brown);
  opacity: 0;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  padding: 2px;
  box-sizing: border-box;

  color: var(--t-white2);
  font-family: var(--font-volkhov);
  font-size: 48px;
  font-weight: 400;

  transition: all 200ms linear;
}

.team-container:hover .name {
  opacity: 1;
}

/* ----------------------Fourth screen-------------------- */
.screen4 {
  min-height: 80vh;
  width: 100%;
  padding-top: 12vh;
  padding-left: 80px;
  padding-right: 80px;
  padding-bottom: 2vh;
  box-sizing: border-box;
}

.contact-box {
  width: 100%;
  height: 60vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
}

.contact-box2 {
  width: 58%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contact-title {
  font-family: var(--font-rosario);
  font-size: 64px;
  font-style: italic;
  font-weight: 700;
  text-align: center;
  color: var(--t-black);
  padding: 5px;
  box-sizing: border-box;
}

/* ------------------------Form & Map-------------------- */
.form {
  width: 100%;
  height: 100%;
  background-color: var(--color-grey);
  padding: 15px 20px;
  box-sizing: border-box;
}

.form1 {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
  box-sizing: border-box;
}

.input-name,
.input-email,
.input-message {
  font-family: var(--font-rosario);
  font-weight: 700;
  font-size: 34px;
  padding: 8px;
  box-sizing: border-box;
}

.input-name,
.input-email {
  width: 48%;
  height: 30%;
}

.input-message {
  width: 100%;
  height: 100%;
  min-height: 20vh;
  padding-bottom: 8px;
  box-sizing: border-box;
}

.map-box {
  width: 40%;
  height: 100%;
  overflow: hidden;
}

.map {
  width: 100%;
  height: 100%;
}

/* --------------------Footer--------------------- */
.footer {
  display: flex;
  justify-content: space-between;
  min-height: 20vh;
  padding: 10px;
  box-sizing: border-box;
  font-family: var(--font-rosario);
  font-size: 30px;
  text-align: center;
  color: var(--t-black);
  font-style: italic;
  font-weight: 600;
}

.footer a {
  color: var(--t-black);
}

.footer-box:first-child,
.footer-box:nth-child(2) {
  width: 40%;
}

.footer-box:nth-child(3) {
  width: 20%;
}

.footer-box2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.footer-box:nth-child(3) li {
  text-align: start;
}

.bold {
  font-weight: 700;
}

.footer-subtitle1 {
  font-weight: 700;
  font-size: 36px;
  padding-bottom: 20px;
  box-sizing: border-box;
}

.footer-connect-icon {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#hidden {
  display: none;
}

/* ------------------------------!!!---MEDIA SCREEN from 0 to 768px---!!!--------------------------- */
@media screen and (max-width: 768px) {
  /* ------------Header Change Style---------- */
  #hidden {
    display: block;
    width: 70px;
    background-color: var(--t-black);
    border: none;
    cursor: pointer;
  }

  #hidden > img {
    width: 100%;
  }

  .header > nav {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .head-list {
    flex-direction: column;
    align-items: center;
    background-color: var(--t-black);
    opacity: 0.8;
    width: 70%;
    min-height: 50vh;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;

    transform: translateY(-700px);
  }

  .head-list.hidden {
    transform: translateY(0px);
  }

  main {
    display: block;
  }

  .screen {
    min-height: 100vh;
    overflow: hidden;
  }

  .screen2,
  .screen3,
  .screen4 {
    min-height: 100vh;
    overflow: hidden;
  }

  /* -------------First screen - Gallery Style--------- */
  .gallery {
    flex-direction: column;
    min-height: 100vh;
    height: 100%;
    overflow: visible;
    padding-top: 5vh;
    box-sizing: border-box;
  }

  .left,
  .center-left,
  .center-right,
  .right {
    display: block;
    width: 90%;
    height: 100%;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 20px;
    box-sizing: border-box;
  }

  .center-left,
  .center-right {
    animation: none;
  }

  .right {
    padding-bottom: 0;
  }

  .center-left > .img-el:first-child,
  .center-right > .img-el:first-child {
    padding-bottom: 20px;
    box-sizing: border-box;
  }

  /* Start position before animation of gallery*/
  .left,
  .center-left > .img-el:last-child,
  .center-right > .img-el:last-child {
    transform: translateX(-150%);
    overflow: hidden;
  }

  .center-left > .img-el:first-child,
  .center-right > .img-el:first-child,
  .right {
    transform: translateX(+150%);
    overflow: hidden;
  }

  /* ------Animation elements of gallery + delay of each element----- */
  .left,
  .center-left > .img-el:last-child,
  .center-right > .img-el:last-child {
    animation: toCenter1 1s ease-out;
    animation-fill-mode: forwards;
    overflow: hidden;
  }

  .center-left > .img-el:first-child,
  .center-right > .img-el:first-child,
  .right {
    animation: toCenter2 1s ease-out;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    overflow: hidden;
  }

  .center-left > .img-el:last-child {
    animation-delay: 2s;
  }

  .center-right > .img-el:first-child {
    animation-delay: 3s;
  }

  .center-right > .img-el:last-child {
    animation-delay: 4s;
  }

  .right {
    animation-delay: 5s;
  }

  /* -------------Second screen - Services Style-------------- */
  .screen2 {
    display: block;
    padding-top: 10vh;
    box-sizing: border-box;
  }

  .serv-background {
    display: none;
  }

  .services-box {
    max-width: 100%;
    width: 100%;
    height: 100%;
  }

  .title {
    font-size: 30px;
  }

  /* ------------------Third screen - Team -----------------*/
  .team-title {
    font-size: 65px;
    padding-bottom: 20px;
    box-sizing: border-box;
  }

  .team-box {
    flex-direction: column;
    height: 100%;
  }

  .team-container {
    width: 80%;
    padding-bottom: 20px;
    box-sizing: border-box;
  }

  .name {
    bottom: 22px;
  }

  /* -------------Fourth screen - Map and form ----------------*/
  .screen4 {
    padding-left: 50px;
    padding-right: 50px;
    box-sizing: border-box;
    height: 100%;
  }

  .contact-box {
    height: 100%;
    flex-direction: column-reverse;
  }

  .contact-box2,
  .map-box {
    width: 100%;
    display: block;
    min-height: 50vh;
    height: 50vh;
  }

  .contact-box2 {
    height: 50%;
  }

  .contact-title {
    font-size: 50px;
  }

  .form {
    height: 100%;
  }

  .input-name,
  .input-email,
  .input-message {
    font-size: 28px;
  }

  /* -------------------Footer----------------- */
  footer {
    flex-direction: column;
    min-height: 20vh;
    height: 100%;
    font-size: 20px;
  }

  .footer-box:first-child,
  .footer-box:nth-child(2),
  .footer-box:nth-child(3) {
    width: 100%;
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
    box-sizing: border-box;
    border-bottom: 1px solid var(--color-grey);
  }
}

/* --------------------------!!!---MEDIA SCREEN from 769px to 992px---!!!----------------------- */
@media screen and (min-width: 769px) and (max-width: 992px) {
  /* ------------------Header-------------- */
  #hidden {
    display: block;
    width: 70px;
    background-color: var(--t-black);
    border: none;
    cursor: pointer;
  }

  #hidden > img {
    width: 100%;
  }

  .header > nav {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .head-list {
    flex-direction: column;
    align-items: center;
    background-color: var(--t-black);
    opacity: 0.8;
    width: 70%;
    min-height: 50vh;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;

    transform: translateY(-700px);
  }

  .head-list.hidden {
    transform: translateY(0px);
  }

  main {
    display: block;
  }

  .screen,
  .screen4 {
    min-height: 100vh;
    overflow: hidden;
  }

  .screen2,
  .screen3 {
    min-height: 100vh;
  }

  /* -------------First screen - Gallery---------*/
  .gallery {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 20px;
  }
  .left,
  .center-left,
  .center-right,
  .right {
    width: 100%;
    height: 100%;
    padding: 0;
  }
  .center-left {
    grid-column: 1;
    grid-row: 1;
  }
  .center-right {
    grid-column: 2;
    grid-row: 1;
  }
  .center-left > .img-el:first-child,
  .center-right > .img-el:first-child {
    padding-bottom: 20px;
    box-sizing: border-box;
  }
  .center-left,
  .center-right {
    animation: none;
  }

  /* ---------Animation Gallery ----------*/
  .center-left > .img-el:first-child {
    animation: toCenter1 1s ease-out;
    animation-fill-mode: forwards;
  }
  .center-right > .img-el:first-child {
    animation: toCenter2 1s ease-out;
    animation-fill-mode: forwards;
  }
  .center-left > .img-el:last-child {
    animation: toCenter1 1s ease-out;
    animation-delay: 1s;
    animation-fill-mode: forwards;
  }
  .center-right > .img-el:last-child {
    animation: toCenter2 1s ease-out;
    animation-delay: 1s;
    animation-fill-mode: forwards;
  }
  .left,
  .right {
    animation-delay: 1.2s;
  }

  .img-el {
    height: 100%;
    display: inline-block;
  }

  /* ----------Second screen - Services Style ---------*/
  .screen2 {
    flex-direction: column-reverse;
  }
  .serv-background {
    width: 100%;
    margin: auto;
    display: block;
    margin-bottom: 10px;
  }
  .serv-background > img {
    height: 100%;
  }
  .services-box {
    max-width: 90%;
    width: 85%;
    height: 90%;
  }
  .title {
    font-size: 30px;
  }

  /* -------------Third screen - Team ------------*/
  .team-title {
    margin-bottom: 10px;
  }
  .team-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 20px;
    height: 100%;
  }
  .team-container {
    width: 100%;
    height: 100%;
  }
  .team__img {
    height: 100%;
  }

  /* --------------Fourth screen - Map and form ----------*/
  .screen4 {
    padding-left: 50px;
    padding-right: 50px;
    box-sizing: border-box;
    height: 100%;
  }

  .contact-box {
    height: 100%;
    flex-direction: column;
  }

  .contact-box2,
  .map-box {
    width: 100%;
    display: block;
    min-height: 50vh;
    height: 50vh;
  }

  .contact-box2 {
    height: 50%;
    margin-bottom: 20px;
  }

  .contact-title {
    font-size: 50px;
  }

  .form {
    height: 100%;
  }

  .input-name,
  .input-email,
  .input-message {
    font-size: 28px;
  }

  /* ---------------Footer--------------- */
  footer {
    flex-direction: column;
    min-height: 20vh;
    height: 100%;
    font-size: 20px;
  }

  .footer-box:first-child,
  .footer-box:nth-child(2),
  .footer-box:nth-child(3) {
    width: 100%;
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
    box-sizing: border-box;
    border-bottom: 1px solid var(--color-grey);
  }
}

/* ---------------------------!!!---MEDIA SCREEN from 1620px to max---!!!---------------------- */
@media screen and (min-width: 1620px) {
  main,
  footer {
    max-width: 1620px;
    margin: 0 auto;
  }
  .header {
    max-width: 1620px;
    margin: 0 auto;
    position: sticky;
    top: 0;
  }
  /* .container {
    max-width: 1620px;
    margin: 0 auto;
  } */
}
